Library/
Logs/
obj/
Temp/
Build/
Derivatives/
MemoryCaptures/
/Assets/AssetStoreTools*
/Assets/antique_veneer1_unity
/Assets/YughuesFreeRockMaterials
/Assets/TextMesh Pro
/Assets/textures
Assets/Materials/Fonts

# Visual Studio / VS Code files
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs